
body{
    background-color: #ADBED2;
    margin: 0px;
    padding: 0px;
    color: #12406A;
}
#home{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: space-around;
}
.tittleHome{
font-family: 'Inter';
font-weight: bolder;
line-height: 29px;
font-style: italic;
}
#signIn{
    background-color: #FFE5B6;
}
#mailButton{
    background-color: #EB8F90;
}
#logo{
    margin-top: 5%;
}
.backIcon{
    max-width: 10%;
    min-width: 3px;
}
.thinButton{
    width: 161px;
    height: 38px;
    border-radius: 16px;
    border: none;
    color: #12406A;
}
#googleButton{
    border-style: solid;
    border-color: #12406A;
    background-color: #ADBED2;

}
section{
    display: flex;
    align-items: center;
flex-direction: column;
margin-top: 5%;
justify-content: space-around;
}
#sectionHome{
    min-height: 30vh;
    column-gap: 5%;
    margin: 0 auto 20%;
}

#send{
 background-color: #FFE5B6;
 border: none;
}
.containerInputs{
background: #FFE5B6;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #12406A;
margin: 20px auto 20px;
min-width: 90%;
}
.title{
    font-size: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5% auto 10px;
}
.subTitle{
    margin: 5% auto 1%;
}
.logoSingIn{
    margin-top: 10%;
}
input:not([type="submit"]){
background-color: #ADBED2;
border-radius: 2px;
border: none;
height: 31px ;
width: 300px;
margin: 0 auto 10px;
}
input::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
    color: #12406A;
  }
  #containerSignIn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 6px;
      max-height: 100%;
  }
  #containerSignIn p {
      margin: 0;
      font-size: 12px;
  }
  .btnBackDog p {
    margin: 0;
    font-size: 12px;
}
  #containerCreatUser{
    display: flex;
    flex-direction: column;
    margin: 6px;
    max-height: 100vh;
  }
  #containerLogoCreate{
      height: 30%;
  }
  #sectionCreatUser{
      display: flex;
      margin-top: 2%;
      column-gap: 1px;
  }
  #logoCreatUser{
      margin-top: 6%;
  }
  #iconCreatUser{
      max-width: 200px;;
  }
  #formCreateUser{
    margin: 5px auto 5px;
    background-color: #EB8F90;
  }
  .btnBackDog{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
  #creatSend{
      background-color: #EB8F90;
  }
@media (min-width: 500px) {
    .backIcon {
        width: 10% ;
        max-width: 50px;
    }
    .containerInputs {      
        max-width: 50vw;
        min-width: 50vw;
    }
    #containerSignIn > p {
        font-size: 20px;
    }
    #sectionSignIn{
        margin-top: 2%;
    }
    .logoSingIn{
        margin-top: 2%;
    }
    #logoCreatUser{
        margin-top: 3%;
    }
}
footer{
    background-color: #FFE5B6;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#search, #newPost{
    padding: 10px 30px;
}
#myPost{
    display: grid;
    width: 40px;
    height: 40px;
    margin: 3% 0 2% 88%;
}
/* template creatpost */
#formPost{
    display: grid;
    margin: 100px 10px 20px 10px;
    padding: 15px 20px 5px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1.5px solid #12406A;
    background-color: #E2EBF6;
}
#titlePost, #description, #hashtag{
    background: #E2EBF6;
    margin: 10px 30px 20px 30px;
    border-radius: 10px;
}
#titlePost, #hashtag{
    height: 30px;
}
#description{
    height: 150px;
}
#username{
    text-align: left;
}
#button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#cancelButton{
    background-color: #EB8F90;
    height: 50px;
    width: 140px;
    border-radius: 15px;
    margin: 10px 30px 10px 30px;
}
#postButton{
    height: 50px;
    width: 140px;
    border-radius: 15px;
    margin: 10px 30px 10px 30px;
}
