*{
    font-family: 'Inter';
}
body{
    background-color: #ADBED2;
    margin: 0px;
    padding: 0px;
    color: #12406A;
}
/* template home*/
#home{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: space-around;
}

#logo{
    margin: 80px auto 40px auto;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.7));
}
h1, h2{
    margin: 10px auto;
    color: #12406A;
    font-family: 'Inter';
    font-weight: 600;
}
#signIn{
    background-color: #FFE5B6;
    width: 170px;
    height: 60px;
    margin: 30px auto;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#googleButton, #mailButton{
    width: 230px;
    height: 60px;
    margin: 10px auto;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#googleButton{
    background-color: #90BAC4;
    border:none;
    background-image: url(./icons/google.png);
    background-size: 21px;
    background-position: 18px 19px;
    background-repeat: no-repeat;
}
.tittleHome{
font-family: 'Inter';
font-weight: bolder;
line-height: 29px;
font-style: italic;
}
#mailButton{
    background-color: #EB8F90;
    background-image: url(./icons/mail.png);
    background-size: 21px;
    background-position: 14px 19px;
    background-repeat: no-repeat;
}

.backIcon{
    max-width: 10%;
    min-width: 3px;
}
.thinButton{
    width: 161px;
    height: 38px;
    border-radius: 16px;
    border: none;
    color: #12406A;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    justify-content: space-around;
}
#sectionHome{
    min-height: 30vh;
    column-gap: 5%;
    margin: 0 auto 20%;
}

#send{
 background-color: #FFE5B6;
 border: none;
}
.containerInputs{
background: #FFE5B6;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #12406A;
margin: 20px auto 20px;
min-width: 90%;
}
.title{
    font-size: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5% auto 10px;
}
.subTitle{
    margin: 5% auto 1%;
}
.logoSingIn{
    margin-top: 10%;
}
input:not([type="submit"]){
background-color: #ADBED2;
border-radius: 2px;
border: none;
height: 31px ;
width: 300px;
margin: 0 auto 10px;
}
input::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
    color: #12406A;
  }
  #containerSignIn{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 6px;
      max-height: 100%;
  }
  #containerSignIn p {
      margin: 0;
      font-size: 12px;
  }
  .btnBackDog p {
    margin: 0;
    font-size: 12px;
}
  #containerCreatUser{
    display: flex;
    flex-direction: column;
    margin: 6px;
    max-height: 100vh;
  }
  #containerLogoCreate{
      height: 30%;
  }
  #sectionCreatUser{
      display: flex;
      margin-top: 2%;
      column-gap: 1px;
  }
  #logoCreatUser{
      margin-top: 6%;
  }
  #iconCreatUser{
      max-width: 200px;;
  }
  #formCreateUser{
    margin: 5px auto 5px;
    background-color: #EB8F90;
  }
  .btnBackDog{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
  #creatSend{
      background-color: #EB8F90;
  }
footer{
    background-color: #FFE5B6;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#searchButton, #homeButton, #newPostButton{
    padding: 10px 30px;
}
#myPost{
    display: grid;
    width: 40px;
    height: 40px;
    margin: 3% 0 0 88%;
}
#textMyPost{
    font-size: 10px;
    font-weight: 600;
    margin: 1% 1% 2% 87%;
}
/* cardpost */
#allPost{
    margin-bottom: 80px;
}
#cardPost{
    width: 350px;
    margin: 20px auto 0px auto;
    padding: 10px 20px 5px 20px;
    text-align: justify;
    border-radius: 10px;
    border: 1.5px solid #12406A;
    background-color: #E2EBF6;
}
#tittle{
    font-weight: 800;
}
#date{
    margin: 0 220px 0 0;
    padding: 10px 0;
    font-size: 12px;
}
#dateLike{
    display: flex;
}
#like{
    height: 40px;
}
/* template creatpost */
#createPost{
    width: max-content;
    display: grid;
    margin: 70px auto 20px auto;
    padding: 15px 20px 5px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1.5px solid #12406A;
    background-color: #E2EBF6;
}
#titlePost, #description, #hashtag{
    background: #E2EBF6;
    padding: 5px;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    border: 1.5px solid #12406A;
}
label{
    font-weight: 800;
}
#titlePost, #hashtag{
    height: 30px;
}
#description{
    height: 150px;
    width: 280px;
    padding: 10px;
    resize: none;
}
#username{
    text-align: left;
}
#button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#cancelButton{
    background-color: #EB8F90;
    height: 50px;
    width: 140px;
    font-weight: 600;
    border-radius: 15px;
    margin: 10px 30px 10px 30px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #12406A;
}
#postButton{
    background: #90BAC4;
    height: 50px;
    width: 140px;
    font-weight: 600;
    border-radius: 15px;
    margin: 10px 30px 10px 30px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #12406A;
}
/* template mypost */
#out{
    margin: 10px 10px 0px 20px;
}
#textOut{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 600;
}
/* template search*/
#search{
    border: 1.5px solid #12406A;
    margin-top: 40px;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    background: #E2EBF6;
    height: 20px;
}
@media (min-width: 500px) {
    .backIcon {
        width: 10% ;
        max-width: 50px;
    }
    .containerInputs {      
        max-width: 50vw;
        min-width: 50vw;
    }

    #containerSignIn > p {
        font-size: 20px;
    }
    #sectionSignIn{
        margin-top: 2%;
    }
    .logoSingIn{
        margin-top: 2%;
    }
    #logoCreatUser{
        margin-top: 3%;
    }
}
/* phone small example iphone 4*/
@media (max-width: 320px){
    /* home template*/
    #logo{
        height: 120px;
        margin: 20px auto 10px auto;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    #signIn{
        height: 40px;
        margin: 10px auto;
    }
    #googleButton, #mailButton{
        height: 40px;
        background-position: 16px 11px;
    }
    /* createPost template*/
    #createPost{
        margin: 5px auto 5px auto;
        width: 260px;
        padding: 5px 20px 5px 20px;
    }
    #titlePost, #hashtag, #description {
        width: 240px;
        margin: 0px;
    }
    #searchButton, #homeButton, #newPostButton{
        height: 30px;
        padding: 8px 30px;
    }
    #cancelButton, #postButton{
        height: 35px;
    }
    #username{
        margin: 10px;
    }
    /* cardpost template*/
    #cardPost{
        width: 250px;
    }
}
/* phone medium example iphone SE*/
@media (min-width: 321px) and (max-width: 380px){
    #logo{
      margin: 20px auto 0px auto;  
    }
    h1{
        font-size: 26px;
        margin: 0px auto;
    }
    #signIn{
        margin: 0px auto;
    }
    h2{
        font-size: 20px;
    }
    #sectionHome{
        margin: 0 auto 8px;
    }
     /* createPost template*/
     #createPost{
        margin: 20px auto 5px auto;
        padding: 5px 20px 5px 20px;
    }
    #username{
        margin: 10px;
    }
    #searchButton, #homeButton, #newPostButton{
        height: 45px;
        padding: 8px 30px;
    }
    /* cardpost template*/
    #cardPost{
        width: 315px;
    }
}